@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.navbar-brand{
    color: rgb(45, 45, 45);
    font-size: 28px;
    font-weight: 600;
}
.nav-link{
    color: rgb(59, 59, 59);
}
.carousel-caption{
    margin-bottom: 10rem;
}

@media screen and (max-width:600px) {
    .btn-hidden{
        display: none;
    }
    .carousel-caption{
        width: 100%;
        margin-bottom: 0rem;
    }
}
@media screen and (min-width:600px) and (max-width:900px) {
    .carousel-caption{
        width: 80%;
        margin-bottom: 0rem;
    }
}